blockchain==1.1.2
Flask==0.10.1
Jinja2==2.8
jsonschema==2.5.1
numpy==1.9.2
PyYAML==3.11
requests==2.7.0
scikit-learn==0.16.1
scipy==0.15.1
statsmodels==0.6.1
Theano==0.7.0
Werkzeug==0.10.4
wheel==0.24.0
gunicorn==0.17.2
httplib2==0.9
uWSGI==2.0.10
pyOpenssl==0.12
pubnub==3.7.5
